# Population Estimates

-----

### Requirements

Table called 'data'

#### Observations & Dimensions

The `observations` should be apparent.

The required dimensions are:

* **Geography** - get this from the top row "title", cut off the non place names.
* **Time** - use dates from left hand column
* **CDID** - from across the top

-----
Notes:

* This should be pretty straight forward in data baker, but consider doing it in pure pandas after you're done, we'll need
to do that from time to time.

To do it with pandas, replace the load cell with
```
tidy_sheet = pd.read_excel('./sources/pop.xlsx', sheetname='Sheet1')
```

In [4]:
from databaker.framework import *
import pandas as pd

# the Seasonally Adjusted Tabs
tabs = loadxlstabs("./sources/pop.xls")

Loading ./sources/pop.xls which has size 12288 bytes
Table names: ['data']

In [7]:
tab = tabs[0]
country = tab.excel_ref('B1').expand(RIGHT).is_not_blank()
year = tab.excel_ref('A8').expand(DOWN).is_not_blank()
cdid = tab.excel_ref("B2").expand(RIGHT).is_not_blank()
observations = year.fill(RIGHT).is_not_blank()

dimensions = [
    HDim(year, 'Year', DIRECTLY, LEFT),
    HDim(country, "Geography", DIRECTLY, ABOVE),
    HDim(cdid, "CDID", DIRECTLY, ABOVE)
    ]
cs= ConversionSegment(tab, dimensions, observations)
datacube = cs.topandas()

In [8]:
datacube

            OBS   CDID  Year                                       Geography
0     5235600.0  SCPOP  1971           Scotland population mid-year estimate
1    54387600.0  GBPOP  1971      Great Britain population mid-year estimate
2    46411700.0  ENPOP  1971            England population mid-year estimate
3    55928000.0  UKPOP  1971     United Kingdom population mid-year estimate
4    49152000.0  EWPOP  1971  England and Wales population mid-year estimate
..          ...    ...   ...                                             ...
331  55977200.0  ENPOP  2018            England population mid-year estimate
332  66435600.0  UKPOP  2018     United Kingdom population mid-year estimate
333  59115800.0  EWPOP  2018  England and Wales population mid-year estimate
334   1881600.0  NIPOP  2018   Northern Ireland population mid-year estimate
335   3138600.0  WAPOP  2018              Wales population mid-year estimate

[336 rows x 4 columns]

In [10]:
datacube["Geography"] = datacube["Geography"].str\
.replace("population mid-year estimate", " ")

datacube["CDID"] = datacube["CDID"].str.rstrip("OP")

datacube["OBS"] = datacube["OBS"].astype(int)

In [11]:
datacube

          OBS CDID  Year            Geography
0     5235600   SC  1971           Scotland
1    54387600   GB  1971      Great Britain
2    46411700   EN  1971            England
3    55928000   UK  1971     United Kingdom
4    49152000   EW  1971  England and Wales
..        ...  ...   ...                  ...
331  55977200   EN  2018            England
332  66435600   UK  2018     United Kingdom
333  59115800   EW  2018  England and Wales
334   1881600   NI  2018   Northern Ireland
335   3138600   WA  2018              Wales

[336 rows x 4 columns]